@import '../../../styles/colors';

.itemEventContainer {

    border-bottom: 1px solid map-get($colors, --grey3 );
    padding-bottom: 35px;
    margin-top: 90px;

    .itemEventLeft, .itemEventRight, .itemEventRightReverse {
        padding: 0 35px;
    }

    .itemEventRightReverse {
        text-align: end;
    }

    p {
        line-height: 30px;
        margin-bottom: 50px;
    }
}